extends layout

include shared/commons

block content
  each book in books
    if book.title == bookname
      .row.banner
        .col-12
          h1 #{book.title}
      .row
        .col-12.col-lg-9
          .row
            .col-12.col-md-6
              +rating(book.rate)
            p.book #{book.title} by #{book.author}, #{book.live}
            .card.card-primary
              .card-block
                h2.card-title Subjects
                each subject in book.subjects
                  span.badge.badge-warning
                    i.fa.fa-check
                    | &nbsp;#{subject}
                  | &nbsp;
      .row
        .col-12.col-lg-9
         .card.card-primary.review-card
          .card-block
               h3 ongoing development...
          
            


