extends layout

include shared/commons

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}
  .row
    .col-12.col-md-8
      each book in books
        .card
          .card-block  
            h4
              a(href=APPREFIX + '/details/'+book.title)= book.title
              +rating(book.rate)
        p.author #{book.title} by  #{book.author}
    .col-12.col-md-4
      p.lead read reviews.
  
  
  h3 ongoing development...



