block variables
    - var APPREFIX = '/abooks' 
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href=APPREFIX + '/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href=APPREFIX + '/stylesheets/all.min.css')
    link(rel='stylesheet', href=APPREFIX + '/stylesheets/style.css')
    

  body    
    nav.navbar.fixed-top.navbar-expand-md
      .container
        a.navbar-brand(href=APPREFIX + '/list') Home
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain')
            span.navbar-toggler-icon 
          #navbarMain.navbar-collapse.collapse
        ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href=APPREFIX + '/about') About    
    .container.content
      block content
      footer
        .row
        .col-12
          small &copy;  
             span bakis 
               a(href='https://sevgul.nl') sevgul.nl 
                span  2022
            
        
  script(src='https://code.jquery.com/jquery-3.6.0.slim.min.js',
           integrity='sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=',
           crossorigin="anonymous")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', 
           integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49',
           crossorigin='anonymous')
  script(src=APPREFIX + '/javascripts/bootstrap.min.js')
